
.tables  table, th, td{
    border:1px solid #ccc;
}
.tables table{
    border-collapse:collapse;
    width:100%;
}
.tables th, td{
    text-align:left;
    padding:10px;
}
.tables tr:hover{
    background-color:#ddd;
    cursor:pointer;
}


.btn.add-news {
    background-color: #0dac15; /* Màu nền */
    color: white; /* Màu chữ */
    border: none; /* Bỏ đường viền */
    padding: 8px 16px; /* Đệm trong */
    font-size: 14px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ chuột khi hover */
    border-radius: 4px; /* Bo góc */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền */
    height: 38px; /* Chiều cao của nút để phù hợp với thanh tìm kiếm */
    display: flex;
    align-items: center; /* Căn chỉnh nội dung nút theo chiều dọc */
    justify-content: center; /* Căn chỉnh nội dung nút theo chiều ngang */
    line-height: normal; /* Đặt line-height về bình thường */
    white-space: nowrap; /* Không ngắt dòng chữ */
  }


  .class .modal-footer {
    display: flex;
    justify-content: space-between; /* Canh giữa pagination và các nút */
    align-items: center;
  }
  
  .class .pagination-container {
    flex-grow: 1; /* Chiếm không gian còn lại để đẩy các nút sang bên phải */
  }
  
  .class .pagination {
    display: flex;
    justify-content: flex-start; /* Canh trái phân trang */
    margin-bottom: 0;
  }
  
  .class .button-container {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các nút */
  }
  
  .same-size-button {
    min-width: 100px; /* Đặt chiều rộng tối thiểu */
    padding: 8px 10px; /* Tăng padding để nút lớn hơn */
    font-size: 14px; /* Tăng kích thước văn bản */
    text-align: center; /* Canh giữa nội dung nút */
  }
  





